.header {
  background: #5c7cfa;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.item {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: table-cell;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}
.item:hover {  /* 커서가 올라가있을 때 */
  background: #748ffc;
}
.item:active, .item.active {  /* 클릭했을 때 */
  background: white;
  color: #5c7cfa;
}